<div class="contact-form">
  <%= form_for @contact_form, :url => { :controller => :static_content, :action => :contact_form } do |form| %>
      <div>
        <h3>Please Enter Your Information Below:</h3>
        <p>All fields are required.</p>
      </div>

    <div class="row">
      <div class="four columns tar inline"><span>First Name</span></div>
      <div class="six columns">
        <%= form.text_field :first_name %>
      </div>
    </div>

    <div class="row">
      <div class="four columns tar inline"><span>Last Name</span></div>
      <div class="six columns">
        <%= form.text_field :last_name %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>What is Your Email Address?*</span></div>
      <div class="six columns">
        <%= form.email_field :email %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>What is Your Telephone Number?*</span></div>
      <div class="six columns">
        <%= form.telephone_field :telephone %>
      </div>
    </div>
        
    <div class="row">
      <div class="four columns tar inline"><span>Message</span></div>
      <div class="six columns">
        <%= form.text_area :message %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns5 tar inline"></div>
      <div class="six columns5">
        <%= recaptcha_tags :public_key => "6LduldgSAAAAADvurUnHW0e5xQdJ0eTpksFUa2n2" %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns5 tar inline"></div>
      <div class="six columns5">
        <%= form.submit "Send" %>
      </div>
    </div>
  <% end %>
</div>