<div class="contact-form">
  <%= form_for @intake_info, :url => { :controller => :static_content, :action => :create } do |form| %>
      <%= render "spree/shared/error_messages", :target => @intake_info %>
      <div>
        <h3>Please Enter Your Information Below:</h3>
        <p>Fields marked with * are required.</p>
      </div>
    <div class="row">
      <div class="four columns tar inline"><span>Type of Service*</span></div>
      <div class="six columns">
        <%= form.select(:type_of_service, '
                              <option value="Not Selected"></option>
                              <option value="Mental Health Services-Unsure">Mental Health Services-Unsure</option>
                              <option value="Medication Management Only">Medication Management Only</option>
                              <option value="Therapy Only">Therapy Only</option>
                              <option value="Medication and Therapy">Medication and Therapy</option>
                              <option value="Wellness Center Services">Wellness Center Services</option>
                              ') %>
      </div>
    </div>

    <div class="row">
      <div class="four columns tar inline"><span><%= @page.title.downcase %>Client First Name*</span></div>
      <div class="six columns">
        <%= form.text_field :client_first_name %>
      </div>
    </div>

    <div class="row">
      <div class="four columns tar inline"><span>Client Last Name*</span></div>
      <div class="six columns">
        <%= form.text_field :client_last_name %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Contact First Name</span></div>
      <div class="six columns">
        <%= form.text_field :contact_first_name %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Contact Last Name</span></div>
      <div class="six columns">
        <%= form.text_field :contact_last_name %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>What is Your Email Address?*</span></div>
      <div class="six columns">
        <%= form.email_field :email %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>What is Your Telephone Number?*</span></div>
      <div class="six columns">
        <%= form.telephone_field :telephone %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Reason for Seeking Services?*</span></div>
      <div class="six columns">
        <%= form.text_area :reason, :rows => 5 %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Date of Birth?*</span></div>
      <div class="six columns">
        <%= form.date_select :dob, :end_year => Time.now.year - 95 %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Street Address:</span></div>
      <div class="six columns">
        <%= form.text_field :address %>
      </div>
    </div>

    <div class="row">
      <div class="four columns tar inline"><span>City</span></div>
      <div class="six columns">
        <%= form.text_field :city %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>State</span></div>
      <div class="six columns">
        <%= form.text_field :state %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Zip Code</span></div>
      <div class="six columns">
        <%= form.text_field :zip %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Country</span></div>
      <div class="six columns">
        <%= form.text_field :country %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Insurance</span></div>
      <div class="six columns">
        <%= form.text_field :insurance %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Preferred Location*</span></div>
      <div class="six columns">
        <%= form.select(:location, '
                                <option value="Not Selected"></option>
                                <option value="Asheville">Asheville</option>
                                <option value="Cary">Cary</option>
                                <option value="Chapel Hill">Chapel Hill</option>
                                <option value="Durham">Durham</option>
                                <option value="Mebane">Mebane</option>
                                <option value="Raleigh">Raleigh</option>
                                <option value="Wake Forest">Wake Forest</option>
                                ') %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>Best Time to Contact</span></div>
      <div class="six columns">
        <%= form.text_field :best_time %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"><span>How Did You Hear About Us?</span></div>
      <div class="six columns">
        <%= form.text_field :referral %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"></div>
      <div class="six columns">
        <%= recaptcha_tags :public_key => "6LeDndcSAAAAAMW6WbhripXwgwdNEmooLh8Um-1U" %>
      </div>
    </div>
    
    <div class="row">
      <div class="four columns tar inline"></div>
      <div class="six columns">
        <%= form.submit "Send to Dr. Parkes' Inbox" %>
      </div>
    </div>
  <% end %>
</div>