<%= render :partial => 'spree/admin/shared/user_sub_menu' %>

<div>
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @role } %>
  <h1>New Role</h1>
</div>

<div>
  <%= form_for [:admin, @role] do |f| %>
    <%= f.field_container :name do %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
      <%= error_message_on :role, :name %>  
    <% end %>
    <div>
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </div>
  <% end %>
</div>
