<td><%= form.radio_button "#{address_name}_id", address.id, :checked => (idx == 0) %></td> 
<td><label for="order_<%= address_name %>_id_<%= address.id%>">
<pre><%= address.printable %></pre>
</label> 
<%= link_to t(:edit), edit_address_path(address) %>
<!-- |
<%# link_to t(:remove), address_path(address), :method => :delete, :confirm => t(:are_you_sure) %> -->
<br />
</td>