<div id="footwrap">
  <footer class="row" data-hook>
    <div class="footget first">
      <h2>Company Information</h2>
      <ul>
        <li><%= link_to "About Goldenseal Wellness", "/about" %></li>
        <li><%= link_to "Contact Us", "/contact" %></li>
        <li><%= link_to "Help", "/help" %></li>
      </ul>
    </div>
    
    <div class="footget">
      <h2>Our Partners</h2>
      <ul>
        <li><%= link_to "Carolina Partners", "http://carolinapartners.com", target: "_blank" %></li>
        <li><%= link_to "Dr Kivette Parkes","http://drparkes.com", target: "_blank" %></li>
        <li><%= link_to "La Bedouine", "http://www.labedouine.com", target: "_blank" %></li>
      </ul>
    </div>
    <div class="footget">
      <h2>My Account</h2>
        <ul id="login-nav-bottom">
          <% if current_user %>
            <li><%= t(:logged_in_as) %>: <%= current_user.email %></li>
            <li><%= link_to t(:account), spree.edit_user_path(current_user) %></li>
            <li><%= link_to t(:logout), spree.destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sign in or Sign up", spree.login_path %></li>
          <% end %>
        </ul>
      <h2>Connect With Us</h2>
        <ul>
          <li><%= link_to "Follow us on Facebook", "https://www.facebook.com/GoldensealWellness" %></li>  
          <li>    
            <form action='https://madmimi.com/signups/subscribe/53446' method='post' target="_blank">
            <div id = 'email-signup'>
              <label for='signup_email'>Sign up for our mailing list!</label><br />
              <input class= 'default-value' size = "15" id='signup_email' name='signup[email]' type='text' value = "Your Email" />
              <input name='commit' class='button' type='submit' value='Sign Up' />
            </div>
            </form>
        </ul>
    </div>
  </footer>
</div>
